<html>
    <link rel="stylesheet" href="{% static 'css/tailwind.css' %}">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">

<body class="px-12 ">
    <div class="mt-24">
        <h1>Payment Already Confirmed</h1>
        <p>This payment has already been processed. If you have questions, please contact support.</p>
        <div class="">
            <a href="{% url 'tenant:dashboard' %}">Go to Dashboard</a>
        </div>
    </div>
</body>
</html>
